svg.c3.global {
  position: fixed;
  height: 0;
  width: 0;
}
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.c3.chart {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.c3 g.axis {
  shape-rendering: crispEdges;
}
.c3 g.axis text.label {
  text-anchor: middle;
  font-weight: bold;
}
.c3 g.axis line {
  stroke: black;
}
.c3.plot {
  cursor: default;
}
.c3.plot .background {
  -ms-touch-action: none;
  touch-action: none;
  pointer-events: all;
}
.c3.plot.zoomable g.content {
  cursor: ew-resize;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.c3.plot.zoomable g.content:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.c3.plot.zoomable g.layer.sampled {
  shape-rendering: crispEdges;
}
.c3.plot.zoomable .scaled {
  vector-effect: non-scaling-stroke;
}
.c3.plot.zoomable .scaled rect,
.c3.plot.zoomable .scaled line {
  shape-rendering: crispEdges;
}
.c3.plot.zoomable line.select_value {
  vector-effect: non-scaling-stroke;
  shape-rendering: crispEdges;
  pointer-events: none;
}
.c3.plot.selectable .brush {
  fill: none;
}
.c3.plot.selectable .unbrush {
  fill: black;
  opacity: 0.6;
}
.c3.plot .layer.path text {
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}
.c3.plot .layer.line path {
  fill: none;
}
.c3.plot .layer.straight {
  shape-rendering: crispEdges;
}
.c3.plot .layer.straight.draggable.horizontal {
  cursor: row-resize;
}
.c3.plot .layer.straight.draggable.vertical {
  cursor: col-resize;
}
.c3.plot .layer.straight text {
  pointer-events: none;
}
.c3.plot .layer.straight line.grab {
  visibility: hidden;
  stroke-width: 9px;
  stroke-dasharray: none;
  pointer-events: all;
}
.c3.plot .layer.region {
  shape-rendering: crispEdges;
}
.c3.plot .layer.region.draggable {
  cursor: move;
}
.c3.plot .layer.region line.grab {
  visibility: hidden;
  stroke-width: 9px;
  stroke-dasharray: none;
  pointer-events: all;
}
.c3.plot .layer.region line.grab.top,
.c3.plot .layer.region line.grab.bottom {
  cursor: ns-resize;
}
.c3.plot .layer.region line.grab.left,
.c3.plot .layer.region line.grab.right {
  cursor: ew-resize;
}
.c3.plot .layer.scatter text {
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}
.c3.plot .layer.bar {
  shape-rendering: crispEdges;
}
.c3.plot .layer.segment,
.c3.plot .layer.icicle {
  shape-rendering: crispEdges;
}
.c3.plot .layer.segment rect,
.c3.plot .layer.icicle rect {
  vector-effect: non-scaling-stroke;
}
.c3.plot .layer.segment text,
.c3.plot .layer.icicle text {
  alignment-baseline: middle;
  pointer-events: none;
  text-anchor: middle;
}
.c3.plot .layer.icicle rect {
  cursor: pointer;
}
.c3.hover {
  display: none;
  position: fixed;
  z-index: 1000;
  margin-top: -0.5em;
  margin-left: 0.5em;
  min-width: 3em;
  padding: 0.25em;
  border-radius: 0.25em;
  pointer-events: none;
  color: black;
  background-color: wheat;
  box-shadow: 3px 3px 6px black;
  white-space: pre;
}
.c3.hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.5em;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid wheat;
}
html.grabbing,
html.grabbing * {
  cursor: ew-resize !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}
.c3.polar .content > .background {
  visibility: hidden;
  pointer-events: all;
}
.c3.polar svg.layers {
  overflow: visible;
}
.c3.polar .layer.radial.draggable {
  cursor: move;
}
.c3.polar .layer.radial.draggable line.grab {
  visibility: hidden;
  stroke-width: 9px;
  stroke-dasharray: none;
  pointer-events: all;
}
.c3.polar .layer.sunburst path {
  cursor: pointer;
}
.c3.polar .layer.sunburst circle.bullseye {
  cursor: pointer;
}
.c3.polar .layer.sunburst circle.center {
  pointer-events: none;
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-opacity: 0.5;
  stroke-dasharray: 5,2;
}
.c3.sankey .nodes.horizontal_labels text {
  transform: rotate(0);
}
.c3.sankey .nodes.horizontal_labels svg.label {
  overflow: visible;
}
.c3.sankey .nodes.vertical_labels text {
  transform: rotate(-90deg);
  text-anchor: start;
}
.c3.sankey .nodes.vertical_labels svg.label {
  overflow: hidden;
}
.c3.sankey rect {
  shape-rendering: crispEdges;
}
.c3.sankey .link path {
  fill: none;
  opacity: 0.5;
}
.c3.sankey .links.curve {
  stroke: black;
}
.c3.sankey .links.straight {
  fill: black;
}
.c3.sankey text {
  pointer-events: none;
}
.c3.sankey rect.background {
  fill: none;
  pointer-events: all;
}
.c3.butterfly .navigatable .node:not(.focal) rect {
  cursor: pointer;
}
table.c3.table {
  border-collapse: collapse;
}
table.c3.table th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
table.c3.table th.sortable {
  cursor: pointer;
}
table.c3.table th.sortable .ui-icon {
  margin-left: 0.25em;
}
table.c3.table td div.bar {
  margin: 1px 0;
  background-color: lightgray;
  border-radius: 0.4em;
}
table.c3.table td div.bar span {
  white-space: pre;
}
table.c3.table caption {
  caption-side: bottom;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
table.c3.table caption span {
  margin: 0 0.25em;
}
table.c3.table caption span.button {
  cursor: pointer;
}
table.c3.table caption span.disabled {
  opacity: 0.4;
  pointer-events: none;
}
table.c3.table caption ul {
  display: inline;
  padding: 0;
  margin: 0;
}
table.c3.table caption ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0 0.25em;
  border: 1px solid gray;
}
table.c3.table caption ul li:first-of-type {
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}
table.c3.table caption ul li:last-of-type {
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
table.c3.table caption ul li.active {
  font-weight: bold;
  pointer-events: none;
  color: white;
  background-color: gray;
}
table.c3.table caption ul li:not(.active) {
  cursor: pointer;
}
table.c3.table caption ul li.disabled {
  pointer-events: none;
}
table.c3.table caption span.pagination {
  float: left;
}
table.c3.table caption span.search {
  white-space: nowrap;
}
table.c3.table caption span.search input {
  vertical-align: text-bottom;
}
table.c3.table caption span.search input.notfound {
  color: red;
}
table.c3.table.selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
table.c3.table.selectable tr {
  cursor: pointer;
}
ul.c3.legend {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  list-style-type: none;
  color: white;
  background: #404040;
  font-family: sans-serif;
}
ul.c3.legend ul {
  padding-left: 0.25em;
  list-style-type: inherit;
}
ul.c3.legend li {
  line-height: 95%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  overflow: hidden;
  white-space: nowrap;
}
ul.c3.legend li > .bullet {
  display: inline-block;
  margin-right: 0.5em;
}
ul.c3.legend li > .bullet > svg {
  shape-rendering: crispEdges;
}
ul.c3.legend li > .content {
  white-space: normal;
}
ul.c3.legend.hoverable li:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
}
